<!DOCTYPE html>
<html>
    <%- include('../../layout/head') %>
    
<body>

  <%- include('../../layout/header') %>
  <main>
    <h1>Proof of life</h1>
    
<% bookArray.forEach(booksToRead => { %>
  <section id="showPage">
    <img src= "<%= booksToRead.book_image %>"/>
    <p>Title: <%= booksToRead.title %></p>  
    <p>Author: <%= booksToRead.author %></p>
    <p>Description: <%= booksToRead.description %></p>
    <p>ISBN: <%= booksToRead.isb %> </p>
    <p>Book Shelf <%= booksToRead.bookshelf %></p>
  </section>
  <section id="searchResultsForm">
    <form action="/books" method="post">
      <fieldset>
        <input name="title" value="<%= booksToRead.title %>"/>
        <input name="author" value="<%= booksToRead.author %>"/>
        <input name="description" value="<%= booksToRead.description %>"/>
        <input name="bookshelf" value="<%= booksToRead.bookshelf %>"/>
        <input name="isb" value="<%= booksToRead.isb %>"/>
        <input name="book_image" value="<%= booksToRead.book_image %>"/>
        <button>submit</button>

      </fieldset>
    </form>
  </section>

  <% }) %>
  </main>
</body>

</html>